{{#ProfileLayout}}
{{#Card title="Изменение пароля"}}
{{{Avatar picture="/avatar.png" picture="/avatar.png" class="profile__avatar" editable=true}}}

<div class="profile__title">Василий</div>

<form name="form__password_edit">
  {{{ProfileField hint="Старый пароль" value="***" url="#" type="password" name="oldPassword" }}}
  {{{ProfileField hint="Повторите новый пароль" value="*******" url="#" type="password" name="repeat_new_password" }}}

  {{{Spacer}}}

  {{{Button text="Сохранить" url="/"}}}
</form>

{{/Card}}

{{/ProfileLayout }}
