{{#if disabled }}

<input class="input" id="{{ name }}" type="{{ type }}" value="{{ value }}" name="{{ name }}" placeholder="{{ placeholder }}" disabled />

{{else}}

<input class="input" id="{{ name }}" type="{{ type }}" value="{{ value }}" name="{{ name }}" placeholder="{{ placeholder }}" /></span>

{{/if}} 
